body {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  color: #333333;
}

a {
  color: #FC5185;
  text-decoration: none;
}

a:hover {
  color: #3FC1C9;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}