.header {
  font-family: $header-font-stack;
  font-size: 3em;
  text-align: center;
  padding: 1em 0 0.25em 0;
  color: $black;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 1em;
  text-transform: uppercase;
}

.nav__item {
  padding: 0 1em;
}
