.post-list__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  padding: 0.5em 1em;

  &:last-child {
    border-bottom: none;
  }
}

.post-list__link {
  font-size: 1.25em;
  color: $black;
  
  &:hover {
    color: $accent-contrast;
  }
}

.post-list__date {
  font-size: 1em;
  color: $accent;
}

.post__header {
  display: flex;
  justify-content: space-between;
}

.post__date {
  font-style: italic;
  font-size: 1.25em;
  line-height: 92px;
}
