---
# Do not remove dashes
---
@charset "utf-8";

$body-font-stack: 'Merriweather', serif;
$header-font-stack: 'Pacifico', cursive;

$black: #333333;
$gray: #cccccc;
$light-gray: #e6e6e6;
$off-white: #fffbe0;
$accent: #f6416c;
$accent-contrast: #00b8a9;

$content-width: 800px;
$on-mobile: 600px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import "base";
@import "header";
@import "footer";
@import "highlight";
@import "projects";
@import "writing";
