header {
  height: 100vh;
  color: #fff;
  background-color: black;

  #headerText {
    position: relative;
    top: 35%;

    h1 {
      font-family: 'Pacifico', cursive;
      font-size: 7em;
      text-align: center;
      text-shadow: 2px 2px #000;
      margin: 0;
    }
  }
}